# Introdução à Ciência de Dados - UFPB
Professor: Yuri Malheiros

## Medidas de Centralidade e Dispersão

A partir do dataset `movies.csv` calcule a média, mediana e desvio padrão para as colunas:

In [1]:
import pandas as pd

path = "movies.csv"

df = pd.read_csv(path)
df.head()

                        Title   US Gross  ...  IMDB Rating  IMDB Votes
0              The Land Girls   146083.0  ...          6.1      1071.0
1      First Love, Last Rites    10876.0  ...          6.9       207.0
2  I Married a Strange Person   203134.0  ...          6.8       865.0
3        Let's Talk About Sex   373615.0  ...          NaN         NaN
4                        Slam  1009819.0  ...          3.4       165.0

[5 rows x 16 columns]

### US Gross

In [2]:
# ADICIONE O SEU CÓDIGO AQUI
print("Média", df['US Gross'].mean())
print("Mediana", df['US Gross'].median())
print("Moda", df['US Gross'].mode())
print("Variância", df['US Gross'].var())
print("Desvio padrão", df['US Gross'].std())

Média 44002085.163744524
Mediana 22019465.5
Moda 0    0.0
dtype: float64
Variância 3913166983182692.0
Desvio padrão 62555311.39066204

### Production Budget

In [3]:
# ADICIONE O SEU CÓDIGO AQUI
print("Média", df['Production Budget'].mean())
print("Mediana", df['Production Budget'].median())
print("Moda", df['Production Budget'].mode())
print("Variância", df['Production Budget'].var())
print("Desvio padrão", df['Production Budget'].std())

Média 31069171.4484375
Mediana 20000000.0
Moda 0    20000000.0
dtype: float64
Variância 1266357235689727.5
Desvio padrão 35585913.44464446

### Running Time

In [5]:
# ADICIONE O SEU CÓDIGO AQUI
print("Média", df['Running Time (min)'].mean())
print("Mediana", df['Running Time (min)'].median())
print("Moda", df['Running Time (min)'].mode())
print("Variância", df['Running Time (min)'].var())
print("Desvio padrão", df['Running Time (min)'].std())

Média 110.19354838709677
Mediana 107.0
Moda 0    95.0
dtype: float64
Variância 406.8697927793211
Desvio padrão 20.171013677535424

### IMDB Rating

In [6]:
# ADICIONE O SEU CÓDIGO AQUI
print("Média", df['IMDB Rating'].mean())
print("Mediana", df['IMDB Rating'].median())
print("Moda", df['IMDB Rating'].mode())
print("Variância", df['IMDB Rating'].var())
print("Desvio padrão", df['IMDB Rating'].std())

Média 6.283467202141896
Mediana 6.4
Moda 0    6.7
dtype: float64
Variância 1.5682300903200033
Desvio padrão 1.2522899386004838

### IMDB Votes

In [7]:
# ADICIONE O SEU CÓDIGO AQUI
print("Média", df['IMDB Votes'].mean())
print("Mediana", df['IMDB Votes'].median())
print("Moda", df['IMDB Votes'].mode())
print("Variância", df['IMDB Votes'].var())
print("Desvio padrão", df['IMDB Votes'].std())

Média 29908.64457831325
Mediana 15106.0
Moda 0       83.0
1      134.0
2      151.0
3      165.0
4      520.0
5     1795.0
6     5147.0
7    32159.0
dtype: float64
Variância 2019386306.1193662
Desvio padrão 44937.58233504965

### Análise dos Resultados

Quais colunas tiveram valores muito diferentes entre média e mediana? Quais os seus desvios padrão?

**US Gross e IMDB Votes**

- US Gross:

In [8]:
print("Desvio padrão", df['US Gross'].std())

Desvio padrão 62555311.39066204

- IMDB Votes:

In [9]:
print("Desvio padrão", df['IMDB Votes'].std())

Desvio padrão 44937.58233504965

Que conclusões podemos tirar desses resultados?

**Existem valores descrepantes para as colunas US Gross e IMDB Votes, pelos seus desvio padrão ser muito grande, estão longe da média**