# Introdução à Ciência de Dados - UFPB
Professor: Yuri Malheiros

## Correlação

Colete os seguintes dados dos times do campeonato brasileiro de 2019:

- Pontos
- Gols marcados
- Gol sofridos

Você pode encontrar esses dados no site da CBF (www.cbf.com.br)

Calcule a correlação entre:

- Pontos e gols marcados
- Pontos e gols sofridos

In [3]:
import pandas as pd

In [11]:
times = ['Flamengo', 'Santos','Palmeiras', 'Grêmio', 'Athletico Paranaense', 'São Paulo', 'Internacional', 'Corinthians', 'Fortaleza',
         'Goiás', 'Bahia', 'Vasco da Gama', 'Atlético', 'Fluminense', 'Botafogo', 'Ceará', 'Cruzeiro', 'Csa', 'Chapecoense', 'Avaí']
pontos = []
gols_marcados = []
gols_sofridos = []

In [13]:
pontos_gols = [[90,86,37], [74,60,33], [74,61,32], [65,64,39], [64,51,32], [63,39,30], [57,44,38], [56,42,34],
        [53,50,49], [52,46,64],[ 49,44,43],[49,39,45], [48,44,49], [46,38,46],[ 43,31,45], [39,36,41], [36,27,46],
        [32,24,58], [32,31,52], [20,18,62]]
for ponto in pontos_gols:
  pontos.append(ponto[0])
  gols_marcados.append(ponto[1])
  gols_sofridos.append(ponto[2])

In [15]:
df = pd.DataFrame(data={'Pontos':pontos, 'Gols Marcados':gols_marcados, 'Gols Sofridos':gols_sofridos}, index=times)
# df['gols marcados'] = pontos
df

                      Pontos  Gols Marcados  Gols Sofridos
Flamengo                  90             86             37
Santos                    74             60             33
Palmeiras                 74             61             32
Grêmio                    65             64             39
Athletico Paranaense      64             51             32
São Paulo                 63             39             30
Internacional             57             44             38
Corinthians               56             42             34
Fortaleza                 53             50             49
Goiás                     52             46             64
Bahia                     49             44             43
Vasco da Gama             49             39             45
Atlético                  48             44             49
Fluminense                46             38             46
Botafogo                  43             31             45
Ceará                     39             36             41
Cruzeiro                  36             27             46
Csa                       32             24             58
Chapecoense               32             31             52
Avaí                      20             18             62

### Correlação entre Pontos e gols marcados

In [18]:
# ADICIONE O SEU CÓDIGO AQUI
df[['Pontos', 'Gols Marcados']].corr()

                 Pontos  Gols Marcados
Pontos         1.000000       0.936469
Gols Marcados  0.936469       1.000000

### Correlação entre Pontos e gols sofridos

In [19]:
# ADICIONE O SEU CÓDIGO AQUI
df[['Pontos', 'Gols Sofridos']].corr()

                 Pontos  Gols Sofridos
Pontos         1.000000      -0.715796
Gols Sofridos -0.715796       1.000000

### Análise dos Resultados

Qual o nível (fraco, moderado, forte) das correlações entre as variáveis analisadas?

**Correlação entre Pontos e gols marcados: 0.9 está na categoria muito forte e a
Correlação entre Pontos e gols sofridos: 0.7 está na categoria forte**

De acordo com os dados analisados, é melhor um time focar em marcar mais gols ou sofrer menos gols?

**É melhor focar em marcar mais gols, pois a correlação é mais proximo de 1 do que gols sofridos**