# Introdução à Ciência de Dados - UFPB
Professor: Yuri Malheiros

## Pandas

A partir do dataset `movies.csv` utilize o Pandas para responder as seguintes perguntas:

In [ ]:
import pandas as pd

path = "movies.csv"

df = pd.read_csv(path)
df.head()

                        Title   US Gross  ...  IMDB Rating  IMDB Votes
0              The Land Girls   146083.0  ...          6.1      1071.0
1      First Love, Last Rites    10876.0  ...          6.9       207.0
2  I Married a Strange Person   203134.0  ...          6.8       865.0
3        Let's Talk About Sex   373615.0  ...          NaN         NaN
4                        Slam  1009819.0  ...          3.4       165.0

[5 rows x 16 columns]

### Qual o gênero de filme mais lucrativo em todo o mundo?
- The Chronicles of Narnia: The Lion, the Witch ...

In [93]:
# ADICIONE O SEU CÓDIGO AQUI

list_sum = [df[df['Major Genre'].unique()[i] == df['Major Genre']]['Worldwide Gross'].sum() for i in range(len(df['Major Genre'].unique()))]
list_sum # lista com soma de todos os generos

[0.0,
 40476168953.0,
 50384049282.0,
 3904838498.0,
 19260687079.0,
 66080959632.0,
 60435609765.0,
 11866645522.0,
 13321678769.0,
 1301373151.0,
 698944401.0,
 824671927.0,
 153622009.0]

In [98]:
df_sum = pd.Series(list_sum, df['Major Genre'].unique())
df_sum.sort_values(ascending=False)

Adventure              6.608096e+10
Action                 6.043561e+10
Comedy                 5.038405e+10
Drama                  4.047617e+10
Thriller/Suspense      1.926069e+10
Horror                 1.332168e+10
Romantic Comedy        1.186665e+10
Musical                3.904838e+09
Western                1.301373e+09
Black Comedy           8.246719e+08
Documentary            6.989444e+08
Concert/Performance    1.536220e+08
NaN                    0.000000e+00
dtype: float64

### Qual o diretor dirigiu mais filmes?
- Steven Spielberg

In [ ]:
# ADICIONE O SEU CÓDIGO AQUI
df["Director"].value_counts()

Steven Spielberg    23
Woody Allen         16
Martin Scorsese     15
Spike Lee           15
Ridley Scott        14
                    ..
Tony Gilroy          1
Neill Blomkamp       1
John Badham          1
Chris Nahon          1
Jeffrey W. Byrd      1
Name: Director, Length: 550, dtype: int64

### Quais filmes tiverem os maiores arrecadações (Gross) em relação ao orçamento de produção (Budget)?

In [ ]:
# ADICIONE O SEU CÓDIGO AQUI
Gross_Budget = df.T.loc["Title":"Production Budget"].T
Gross_Budget = Gross_Budget.drop(columns="US DVD Sales")
Gross_Budget

                           Title     US Gross Worldwide Gross Production Budget
0                 The Land Girls       146083          146083             8e+06
1         First Love, Last Rites        10876           10876            300000
2     I Married a Strange Person       203134          203134            250000
3           Let's Talk About Sex       373615          373615            300000
4                           Slam  1.00982e+06     1.08752e+06             1e+06
...                          ...          ...             ...               ...
3196  Zack and Miri Make a Porno  3.14528e+07     3.68511e+07           2.4e+07
3197                      Zodiac  3.30801e+07     8.30801e+07           8.5e+07
3198                        Zoom  1.19893e+07     1.25062e+07           3.5e+07
3199         The Legend of Zorro  4.55753e+07     1.41475e+08             8e+07
3200           The Mask of Zorro  9.38287e+07       2.337e+08           6.5e+07

[3201 rows x 4 columns]

In [ ]:
Gross_Budget["Diferença"] = Gross_Budget["Worldwide Gross"] - Gross_Budget["Production Budget"]

In [ ]:
Gross_Budget.sort_values(by="Diferença", ascending=False)

                                              Title  ...    Diferença
1234                                         Avatar  ...  2.53089e+09
2970                                        Titanic  ...  1.64288e+09
2202  The Lord of the Rings: The Return of the King  ...  1.03903e+09
485                                   Jurassic Park  ...  8.60068e+08
1975          Harry Potter and the Sorcerer's Stone  ...  8.51458e+08
...                                             ...  ...          ...
404                                   Hell's Angels  ...          NaN
467                                     Intolerance  ...          NaN
1025                                       Waterloo  ...          NaN
1028                                          Wings  ...          NaN
1271                                      Baby Mama  ...          NaN

[3201 rows x 5 columns]